@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Rollen";
}
<h1>Rollen</h1>
<a asp-action="Create">Nieuwe rol</a>
<table class="table table-bordered text-white">
    <thead>
        <tr>
            <td></td>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td><a asp-action="Delete" asp-route-id="@role.Id"><b>X</b></a></td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>