
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Homepagina";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true"/>
}

<h1>Medewerker Dashboard</h1>

<div class="row">
    @{
        foreach(var action in ViewBag.Actions)
        {
            <div class="float-left" style="width:25%;height:100px;">
                <div class="rounded border-2 border-light text-center">
                    <a class="nav-link" asp-controller="@action[1]" asp-action="@action[2]">@action[0]</a>
                </div>
            </div>
        }
    }
</div>